.btn {
    margin: 0px 12px;
    background: var(--button-color);
    padding: 1em 2em;
    border-radius: 24px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: all ease-in-out 250ms;
    font-family: var(--font-ox);
}

.btn:hover,
.btn:focus {
    transform: translate(-2px, -2px);
    box-shadow: var(--button-shadow);
    outline: none;
}