body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.btn-container {
    margin: 32px;
}

.fa-ab {
    transition: ease-in-out 200ms;
    position: absolute;
    top: 36px;
    right: 20px;
    margin: 0px 10px;
}

.fa-err {
    color: var(--err-color);
    visibility: hidden;
    opacity: 0;
}

.fa-pass {
    color: var(--primary-dark);
    visibility: visible;
    opacity: 1;
}

input:placeholder-shown~#pass-hide,
input:placeholder-shown~#pass-visible {
    visibility: hidden;
    opacity: 0;
}

#pass-hide {
    visibility: hidden;
    opacity: 0;
}


@media (max-width: 768px) {
    input {
        margin: 28px;
    }

    input:placeholder-shown~label {
        top: 48px;
        left: 48px;
    }

    input:focus~label {
        top: 0px;
        left: 48px;
    }

    label {
        top: 0px;
    }

    .fa-pass {
        top: 48px;
        right: 40px;
    }
}